*{
    padding:0px;
    margin:0px;
    font-size: 100%;
}

/*main*/
body{
    display: flexbox;
}

.header{
    height: 100px;
    background-color: #57789E;
    position:sticky;
}




/* Mapa del mundo*/
.bloque1{
    background-color:#273654;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 2fr 1fr);
    position:relative;
}

#textobloque1{
    width: 700px;
    height:200px;
    text-align: justify;
    top:50%; left:60%;transform: translate(-50%, -50%); position:absolute;

}
#imgbloque1{
    width: 300px;
    height:300px;
    float:left;
    border:1px solid #000;
    margin:50px;
}

.bloque2{
background-color:#57789E;
height: 400px;
}

#textobloque2{
    width: 700px;
    height:200px;
    text-align: justify;
    top:50%; left:60%;transform: translate(-50%, -50%); position:absolute;

}
#imgbloque2{
    width: 300px;
    height:300px;
    float:left;
    border:1px solid #000;
    margin:50px;
}

.bloque3{
background-color: #E0E1DD;
height: 600px;

}

.bloque4{
    background-color: #1A293F;
    height: 400px;
    }

.cards{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    top:50%; left:50%;transform: translate(-50%, -50%); position:relative;

}

.footer{
    background-color: #0D1B2A;
height: 200px;

}