*{
    padding:0px;
    margin:0px;
    font-size: 100%;
}

/*main*/
body{
    display: flexbox;
}

.header{
    height: 100px;
    background-color: #57789E;
    position:sticky;
}




/* Mapa del mundo*/
.bloque1{
    background-color:#273654;
    height: 400px;
text-align: left;

}
#mapamundi{
    width: 300px;
    height:300px;
    float:right;
    margin:30px;
}

.bloque2{
background-color:#57789E;
height: 400px;

}

.bloque3{
background-color: #E0E1DD;
height: 600px;

}

.bloque4{
    background-color: #1A293F;
    height: 400px;
    }

.footer{
    background-color: #0D1B2A;
height: 200px;

}