/* LINEA DE TIEMPO */
.body-timeline{
display: flex;
flex-direction: column;
flex-wrap: wrap;

padding:4rem;
}
.title-timeline{
padding: 6rem;
font-size:50px;
color:#EBECE9;
text-align:center;

margin-top: 2rem;
}
#portada{
border-radius: 5px;
width: 70%;
height: fit-content;

margin-left:20%;
}
.body-timeline .card{
width: 100%;
background-size:contain;

}
.specific-body-timeline{
display: flex;
flex-direction: row;
align-items: center; 
background-color: #0D1B2A;
padding: 4rem;

}
.indice-timeline {
background-color: #EBECE9;
opacity: 0.8;
padding: 1rem;
border-radius: 5px;

width: calc(20% - 2rem);
float: left;
}
.body-timeline .styling-content{
width: 80%;
height: 70rem;
float: left;
margin:2rem;
}
.indice-timeline h1{
text-align: center;
}

.indice-timeline ul {
list-style-type:circle;
padding: 0;
}

.indice-timeline li {
margin: 1rem;
padding: 0;
margin-bottom: 1rem;

}

.indice-timeline a {
color: #0C1926;
display: block;
text-decoration: none;
font-size: 1.5rem;
}
.indice-timeline a:hover{
text-decoration: underline solid 1px ;
color:var(--bright-color);
}

.body-timeline .parrafo-timeline{
color:#EBECE9;
padding:2rem;
font-size: 1.5rem;

}

/*image gallery*/
.body{margin: 0;
overflow: hidden;

display: grid;
place-items: center;
}

section {
--childs: 5;
--gap: 10px;
width: min(80%, 800px);
display: flex;
gap: var(--gap);
}

.box {
width: calc((100% / var(--childs)));
box-sizing: border-box;
height: min(30vmin, 250px);
cursor: pointer;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
transition: width 300ms 50ms ease-in-out;
}

.box:hover {
width: calc((100% / (var(--childs) - 2)));
}

section:has(.box:hover) .box:not(:hover) {
width: calc((100% / (var(--childs) + 1)));
}
