*{
    margin: 0px;
    padding:0px;
}
body{
    background-color: #0D1B2A;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

card{
    width: 800px;
    height: 500px;
     padding: 20px;
    color: #EBECE9; 
    background-size: cover;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#EBECE9;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease;
}

.content *{
    transform: translateY(-70%);
    transition: all 0.3s ease;
    opacity: 0;
}

.content h2{
    font-size: 35px;
    margin: 15px;
    font-weight: 700;
}

.content h3{
    font-size: 23px;
    text-transform: uppercase;
}

.card:hover .content{
    opacity: 1;
}

.card:hover .content *{
    opacity: 1;
    transform: translateY(0);
}

